matplotlib==3.7.2
matplotlib-inline @ file:///Users/ec2-user/ci_py311/matplotlib-inline_1678317544666/work
numpy==1.25.2
numpydoc @ file:///Users/ec2-user/ci_py311/numpydoc_1678393034712/work
streamlit==1.26.0
